.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    /* position: relative; */


}


/* header */

header {
    max-width: inherit;
    width: inherit;
    height: 130px;
    display: flex;
    background-color: #262626;
    position: fixed;
    align-items: center;

    top: 0;
    left: 50%;
    transform: translateX(-50%);
}



nav {
    display: flex;
    padding: 51px 320px;
    gap: 68px;
}

nav :nth-child(1) {
    color: #DCB47A;
}

nav a {

    font-weight: 600;
    font-size: 24px;
    color: white;
    font-family: 'Work Sans', sans-serif;
}

.headericon {

    display: flex;
    justify-content: center;
    align-items: center;
    pad: 46px 248px;
    margin-left: 200px;
}


/* section 1 */


section {
    width: 100%;
    height: 1080px;
    padding-top: 130px;
    /* position: relative; */
   

}

.mainpic {
    width: 100%;
    height: 1080px;
    object-fit: cover;
    object-position: center;

}


section h1 {
    color: white;
    font-size: 82px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    width: 70%;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    text-align: center;
}


section p {
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    width: 38%;
    left: 50%;
    top: 61%;
    transform: translate(-50%);
    text-align: center;

}

section button {
    position: absolute;
    width: 28%;
    left: 50%;
    top: 68%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: white;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);


}




/* section 2 */



.seller{
    width: 80%;
    height: 557px;

    
    
    
}



.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin-top: 184px;
    margin-left: 320px;
}

.title{
    width: 60%;
    
    font-family: 'Work Sans', sans-serif;
    font-size: 75px;
    color: #081323;
    display: flex;
    margin-top: 265px;
    margin-left: 140px;
    

}

.card{
    width: 390px;
    height: 388px;
    border: 2px solid #DCB47A;
    padding: 31px 41px;
    background-color: white;
    
}


.cards p{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    margin-top: 40px;
}


/* section 3 */




.section3{
    margin-top: 245px;
    margin-left: 145px;
    width: 81%;
    height: 800px;
    position: relative;
}



.interiortitle{
    font-size: 75px;
    color: #081323;
    font-family: 'Work Sans', sans-serif;

}


.interiorpic{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 67px;
}



.interiorpic :nth-child(3){
    position: absolute;
    margin: 333px 758px;
}
}